<div class="mt-10 mb-10">
  <div class="search">
    <el-input [(model)]="keyword" icon="search" placeholder="请输入图书名称" (keyup.enter)="search()" ></el-input>
    <!-- <div class="col v-m pl-10">
      <el-button (click)="search(keyword)">搜索</el-button>
    </div> -->
  </div>
</div>
<ul class="listBlock" #list>
  <li *ngFor='let book of bookList' (click)="gotoDetail(book.id)" [class.selected]="selectedId == book.id">
    <el-card body-style="padding:20px 10px;height:320px;">
      <i class="block img"><img src="{{book.image}}" class="v-m"/></i>
      <b class="block fs-14 c-3 oneline">{{book.title}}</b>
      <i class="block fs-14 c-9 mt-05">
        <span *ngIf="book.rating.average">{{book.rating.average}}分</span>
        <span *ngIf="book.author.length">/ {{book.author[0]}}</span>
      </i>
      <i class="block fs-14 c-9 mt-05">
        <span *ngIf="book.publisher">{{book.publisher}}</span>
        <span *ngIf="book.pubdate">/ {{book.pubdate}}</span> 
      </i>
      <i class="block fs-16 c-blue mt-05">
        <span *ngIf="book.price">{{book.price}}</span>
      </i>
    </el-card>
  </li>
</ul>
<div class="mt-10">
  <el-pagination 
    [total]="total"
    [page-count]="n"
    showSize="false"
    [layout]="['prev', 'pager', 'next']"
    (modelChange)="change($event)"
  >
  </el-pagination>
</div>
