<div class="app">
  <el-container>
    <el-header class="nav">
      <div class="nav-main">
        <a class="iconfont icon-list" (click)="show = !show"></a>
        <div class="nav-my">
          <el-tooltip placement="bottom">
            <a style="margin: 0 20px;" class="nav-item"><img src="../assets/image/login.png" class="v-m"/><span class="v-m fs-14 c-f ml-10">{{username}}</span></a>
            <ng-template #tip>
              <el-button type="text"><a routerLink="/myCenter" routerLinkActive="active">我的中心</a></el-button>
              <el-button type="text"><a routerLink="/myMessage" routerLinkActive="active">我的信息</a></el-button>
              <el-button type="text" *ngIf="username == '[未登录]'"><a routerLink="/login" routerLinkActive="active">登录/注册</a></el-button>
              <el-button type="text" *ngIf="username !== '[未登录]'"><a (click)="loginOut = true" routerLinkActive="active">注销登录</a></el-button>
            </ng-template>
          </el-tooltip>
        </div>
      </div>
      <div class="nav-list" [class.active]="show">
        <a routerLink="/book" routerLinkActive="active" class="nav-item" (click)="show = false">图书</a>
        <a routerLink="/movie" routerLinkActive="active" class="nav-item" (click)="show = false">电影</a>
        <a routerLink="/admin" routerLinkActive="active" class="nav-item" (click)="show = false">管理</a>
      </div>
    </el-header>
    <el-main>
      <router-outlet></router-outlet>
    </el-main>
    <!-- <el-dialog [title]="'登录'"[(visible)]="loginIn" [top]="'40%'" [custom-class]="'login'">
      <div>
        <el-input [model]="username" placeholder="用户名"></el-input>
        <el-input [model]="password" placeholder="密码"></el-input>
      </div>
      <ng-template #footer>
        <el-button type="primary" plain="true" (click)="login()">登录</el-button>
        <el-button (click)="loginIn = false" plain>取消</el-button>
      </ng-template>
    </el-dialog> -->
    <el-dialog [title]="'注销登录'"[(visible)]="loginOut" [top]="'40%'" [custom-class]="'login'">
      <div>
        确定注销该用户吗？
      </div>
      <ng-template #footer>
        <el-button type="primary" plain="true" (click)="loginout()">确定</el-button>
        <el-button (click)="loginOut = false" plain>取消</el-button>
      </ng-template>
    </el-dialog>
  </el-container>
</div>
